body {
	background-color: #efeee7;
	font-family: "Georgia", Times, serif;
	color: #333333;
	margin: 0;
	padding: 0;
}
body a{
	color: #d21034;
}

header{
	background-color: #333;
	color: #eee;
}

h1 {
	font-size: 28px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h2 {
	font-size: 24px;
}

.container {
	width: 1024px;
	margin: 0;
}

#main-bio {
	float: left;
	width: 70%;
}

#contact-info {
	float: right;
	width: 30%;
	line-height: 1.5em
}

#bio-img {
	float: left;
	width: 200px;
	margin-right: 20px;
}