html, body{
	height: 100%;
}

body{
	background: url("../images/small_steps.png");
	background-repeat: repeat;
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
}

a{
	color: #aaa;
}

#navi{
	background: transparent;
}

#title h1{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 56px;
	text-align: center;
	color: black;
	padding: 20px;
}

#leftContain{
	background: #eee;
	margin: 25px;
	padding: 30px;
	padding-top: 15px;
	border-radius: 5px;
	border: 1px solid #666;
}

.profCont .img-responsive{
	margin: 0 auto;
	padding: 1.5%;
}

#rightContain .img-responsive{
	margin: 0 auto;
}

#rightContain{
	background: #eee;
	margin: 25px;
	padding: 30px;
	padding-top: 15px;
	border-radius: 5px;
	border: 1px solid #666;
}

#portContain{
	background: #eee;
	padding: 30px;
	padding-top: 15px;
	margin: 25px;
	border-radius: 5px;
	border: 1px solid #666;
}

.wrapper{
	min-height: 95%;
	width: 95%;
	margin: 0 auto;
}

#mainContain{
	background: url(../images/2k.jpg);
	background-size: 100%;
	border-radius: 7px;
	padding: 4%;
	padding-bottom: 2%;
	border: 1px solid #666;
	margin-bottom: 25px;
}

#row1{
	margin-bottom: 2%;
}

#row2{
	margin-top: 2%;
}

.row{
	text-align: center;
}

footer{
	width: 100%;
	background: #666;
	text-align: center;
	padding: 30px;
	color: #fff;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

@media only screen and (min-width : 992px) {
	#rightContain{
		margin-left: 4%;
	}

	#leftContain{
		margin-right: 4%;
	}
}

@media only screen and (max-width : 992px) {
	#leftContain{
		margin-bottom: 4%;
	}
	#rightContain{
		margin-top: 4%;
	}
	#row1{
		margin-bottom: 0;
	}
	#row2{
		margin-top: 0;
	}
}
